# API Configurations
PROJECT_NAME=task-management-api
PROJECT_TITLE=Task Management API
PORT=3333
ENVIRONMENT=development
API_PREFIX=/api/v1
API_VERSION=1.0.0

# JWT Configuration
JWT_SECRET_KEY=
JWT_EXPIRES_IN=1d

# DB Configurations
DB_DIALECT=postgres
DB_HOST=localhost
DB_NAME=task_mgmt
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=

# Frontend Configurqations for react/next/vite-react/etc
ALLOWED_ORIGINS=http://localhost:3000